<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title style="padding: 0 40px">
            <div class="segment-wrapper">
                <ion-segment (ngModelChange)="segmentChange($event)" [(ngModel)]="index">
                    <ion-segment-button *ngFor="let item of menuList;let i=index" [value]="i">
                        {{item.title}}
                    </ion-segment-button>
                </ion-segment>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                 pullingIcon="arrow-dropdown"
                 pullingText="下拉刷新"
                 refreshingSpinner="circles"
                 refreshingText="刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <section>

        <ion-slides (ionSlideWillChange)="change()">
            <ion-slide>
                <ion-list class="my-list">
                    <ion-item *ngIf="itemList.length<1">
                        <p class="primary"> 无数据！ </p>
                    </ion-item>
                    <ion-item *ngFor="let item of itemList" (click)="nav('overtime-work/detail',{url:'/jiaban/shenpi_detail',id:item.id,title:title,contentTitle:item.title,title:'加班审批详情'})">
                        <section>

                            <div class="my-list-title">
                                <h2  [ngClass]="item.qjstate=='已审批'?'primary':''">
                                    <span *ngIf="item.qjstate!=='已审批'" color="primary">[{{item.qjstate}}]</span>
                                    <span *ngIf="item.qjstate=='已审批'">[已审批]</span>
                                    {{item.title}}</h2>
                            </div>
                            <div class="my-list-sub">
                                <div class="my-list-sub-top flex-between">
                                    <span>{{item.qjr}}</span>
                                    <span class="my-list-sub-top-last">{{item.qjstate}}</span>
                                </div>
                            </div>
                        </section>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <ion-list class="my-list">
                    <ion-item *ngIf="shenPiList.length<1">
                        <p class="primary">
                        无数据！
                        </p>
                    </ion-item>
                    <ion-item *ngFor="let item of shenPiList" (click)="nav('overtime-work/approve',{url:'/jiaban/shenpi_detail',handleUrl: '/jiaban/shenpi_save',id:item.id,title:title,contentTitle:item.title,title:'加班审批'})">
                        <section>
                            <div class="my-list-title">
                                <h2>{{item.title}}</h2>
                            </div>
                            <div class="my-list-sub">
                                <div class="my-list-sub-top flex-between">
                                    <span>加班人:{{item.qjr}}</span>
                                    <span class="my-list-sub-top-last">{{item.qjstate}}</span>
                                </div>
                            </div>
                        </section>
                    </ion-item>
                </ion-list>
            </ion-slide>
            <ion-slide>
                <ion-list class="my-list">
                    <ion-item *ngIf="myShenPiList.length<1">
                        <p class="primary"> 无数据！ </p>
                    </ion-item>
                    <ion-item *ngFor="let item of myShenPiList" (click)="nav('overtime-work/detail',{url:'/jiaban/shenpi_detail',id:item.id,title:title,contentTitle:item.title,title:'加班审批详情'})">
                        <section>
                            <div class="my-list-title">
                                <h2  [ngClass]="item.qjstate=='已审批'?'primary':''">
                                    <span *ngIf="item.qjstate!=='已审批'" color="primary">[{{item.qjstate}}]</span>
                                    <span *ngIf="item.qjstate=='已审批'">[已审批]</span>
                                    {{item.title}}</h2>
                            </div>
                            <div class="my-list-sub">
                                <div class="my-list-sub-top flex-between">
                                    <span>{{item.qjr}}</span>
                                    <span class="my-list-sub-top-last">{{item.qjstate}}</span>
                                </div>
                            </div>
                        </section>
                    </ion-item>
                </ion-list>
            </ion-slide>

            <!--流程监控-->
            <ion-slide>
                <ion-list class="my-list">
                    <ion-item *ngIf="LiuChengJianKongList.length<1">
                        <p class="primary"> 无数据！ </p>
                    </ion-item>
                    <ion-item *ngFor="let item of LiuChengJianKongList" (click)="nav('overtime-work/detail',{url:'/jiaban/shenpi_detail',id:item.id,title:title,contentTitle:item.title,title:'加班审批详情'})">
                        <section>
                            <div class="my-list-title">
                                <h2  [ngClass]="item.qjstate=='已审批'?'primary':''">
                                    <span *ngIf="item.qjstate!=='已审批'" color="primary">[{{item.qjstate}}]</span>
                                    <span *ngIf="item.qjstate=='已审批'">[已审批]</span>
                                    {{item.title}}</h2>
                            </div>
                            <div class="my-list-sub">
                                <div class="my-list-sub-top flex-between">
                                    <span>{{item.qjr}}</span>
                                    <span class="my-list-sub-top-last">{{item.qjstate}}</span>
                                </div>
                            </div>
                        </section>
                    </ion-item>
                </ion-list>
            </ion-slide>
        </ion-slides>
    </section>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="nav('overtime-work/add',{title:'加班申请',url:'b'})">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
