.detail-content{
  padding: 0 1rem;
  font-size: 14px;
  img{
    width: 100%;
    height: auto;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      padding: 3px;
      margin: 0;
      color: #555555;
    }
  }

  h2{ text-align: center; }
}

