[scroll-ys]{
    width:100%;height:43px;background-color:#fff;border-bottom:1px solid #dadada;
}
.fl-active{
    padding:10px;
    float:left;
    border-bottom:3px solid #2773fd;
    color:#2773fd;
    margin:0 5px;
    .primary{
        color:#2773fd;
    }
}
.fl{
    padding:10px;
    float:left;
    border-bottom:3px solid transparent;
    margin:0 5px;
    //font-weight: 600;
}
