.segment-ios .segment-button {
    font-size: 1.5rem;
}
.segment-wrapper{
  width: 100%;
  margin: 0 auto;
  ion-segment[mode=ios]{
    ion-segment-button{
      border: 1px solid #ffffff;
      color: #ffffff !important;
      line-height: 1.5rem;
      height: 1.5rem;
      background: transparent;
    }

    ion-segment-button.segment-button-checked{
      background: #ffffff !important;
      color: #3880ff !important;
    }
    ion-segment-button:not(:first-child){
      border-left: none;
    }
  }
}
