<ion-header>
  <ion-toolbar color="primary">
      <app-back></app-back>
    <ion-title>
        网络设置
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-list>

    <ion-item>
        <div class="list-item">
            <h3> 铜山 </h3>
            <p>&nbsp;http://49.105.217.253:8100</p>
        </div>
    </ion-item>
    <ion-item>
        <div class="list-item">
            <h3> 铜山 </h3>
            <p>&nbsp;http://49.105.217.253:8100</p>
        </div>
    </ion-item>
    <ion-item>
        <div class="list-item">
            <h3> 铜山 </h3>
            <p>&nbsp;http://49.105.217.253:8100</p>
        </div>
    </ion-item>
</ion-list>
</ion-content>


