.list-item{
  h3{
    font-size: 1.8rem;
    margin: 5px 0 0 0;
    padding: 0 0 0 0.5rem;
    line-height: 3.0rem;
  }
  p{
    font-size: 1.4rem;
    margin: 0;
    padding:0 0.5rem;
    color: #999999;
  }
}
