<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="刷新...">
    </ion-refresher-content>
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <section class="log-list" *ngFor="let _item of list">
    <div class="log-list-title primary">
      <div> {{_item.d}} </div>
    </div>
    <ion-list class="my-list">
      <ion-item *ngFor="let item of _item.arr">
        <div slot="start">
          <div class="my-avatar">
            <p>{{item.week}}</p>
            <div></div>
            <p>({{item.month}}-{{item.d}})</p>
          </div>
        </div>
        <div class="log-content">
            <section>
              {{item.morning}}
            </section>
        </div>
      </ion-item>
      <ion-item>
        <div slot="start">
          <div class="my-avatar">
            <p>{{week.zweek}}</p>
          </div>
        </div>
        <div class="log-content">
            {{week.zlogs}}
        </div>
      </ion-item>
    </ion-list>
  </section>

</ion-content>
