<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <Tabs [useOnPan]="true"
        [swipeable]="true"
        [activeTab]="index"
        [page]="2"
        (onChange)="onChange($event)"
        [tabBarActiveTextColor]="'#1890ff'"
  >
    <TabPane title="集团公司本部">
      <app-ji-tuan-add  [index]="curIndex"></app-ji-tuan-add>
    </TabPane>
    <TabPane title="直属各子公司项目公司">
      <app-zi-gong-si-add [index]="curIndex"></app-zi-gong-si-add>
    </TabPane>
  </Tabs>
</ion-content>


