.circle-text{
  background: #f65e8d;
  color: #ffffff;
  white-space: nowrap;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width:  40px;
  height: 40px;
}
