<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            决策平台
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
<!--    <ion-card>-->
<!--        <ion-card-header>-->
<!--            <h2 class="primary">-->
<!--                <span class="rectangle"></span>-->
<!--                <span>统计汇总</span>-->
<!--            </h2>-->
<!--        </ion-card-header>-->
<!--    </ion-card>-->
    <section class="card">
        <div class="card-item bg-1">
            <ion-grid>
                <ion-row class="text-center">
                    <ion-col col-12>
                        <h2> 项目数 </h2>
                        <h3> 2个 </h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="card-item default-color">
            <p class="card-item-text">总投资数：<span>0.00万</span></p>
            <p class="card-item-text">完成投资数：<span>0.00万</span><p>
            <p class="card-item-text">本年度投资计划：<span>0.00万</span></p>
            <p class="card-item-text">本年度财务计划：<span>0.00万</span></p>
            <p class="card-item-text">总合同数：<span>0.00个</span></p>
            <p class="card-item-text">总合同额：<span>0.00万</span></p>
        </div>
    </section>
    <section class="card">
        <div class="card-item bg-2">
            <ion-grid>
                <ion-row class="text-center">
                    <ion-col col-12>
                        <h2>部门数</h2>
                        <h3> 3个 </h3>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="card-item default-color">
            <p class="card-item-text">总人数：<span>149个</span></p>
            <p class="card-item-text">登录频率：<span>14次/天/人</span></p>
            <p class="card-item-text">操作频率：<span>10次/天/人</span></p>
            <p class="card-item-text">查看频率：<span>1.4844次/天/人</span></p>
            <p class="card-item-text">通知数：<span>16个</span></p>
            <p class="card-item-text">会签数：<span>16个</span></p>
            <p class="card-item-text">收文数：<span>166个</span></p>
            <p class="card-item-text">发文数：<span>116个</span></p>
        </div>
    </section>
</ion-content>

