.sc-ion-card-ios-h {
  margin-left: unset;
  margin-right: unset;
  -webkit-margin-start: 0;
  margin-inline-start: 0;
  -webkit-margin-end: 0;
  margin-inline-end: 0;
}
.card-content-ios {
  padding-left: unset;
  padding-right: unset;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  -webkit-padding-end: 5px;
  padding-inline-end: 0px;
}
