<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            新增
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="bg-style add-style">

    <ion-item>
        <ion-label>网络名称：</ion-label>
        <ion-input placeholder="请输入" [(ngModel)]="params.name"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>网络地址：</ion-label>
        <ion-input placeholder="请输入" [(ngModel)]="params.ip"></ion-input>
    </ion-item>



</ion-content>





<ion-footer>
    <ion-toolbar>
        <ion-button expand="full" (click)="save()" style="flex: 1">
            保  存
        </ion-button>
    </ion-toolbar>
</ion-footer>
