<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="刷新...">
    </ion-refresher-content>
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <ion-list class="my-list">
    <ion-item *ngIf="listData.length<=0">
      <p class="primary">无数据！</p>
    </ion-item>
    <ion-item *ngFor="let item of listData" (click)="nav('common_view',{url:url,id:item.id,title:title,contentTitle:item.title})">
      <div class="my-list">

      <div class="my-list-title">
        <h2  [ngClass]="item.read=='0'?'':'primary'">
          <span *ngIf="item.read=='0'" color="primary">[未读]</span>
          <span *ngIf="item.read=='1'">[已读]</span>
          {{item.title}}</h2>
      </div>
      <div class="my-list-sub">
        <div class="my-list-sub-top flex-between">
          <span>发布人：{{item.creator}}</span>
          <span class="my-list-sub-top-last">发布日期:{{item.date}}</span>
        </div>
      </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
