<ion-header>
    <ion-toolbar color="primary">
        <!--        <app-back></app-back>-->
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-icon  (click)="edit($event)" mode="md" style="float: right;font-size: 28px;" name="create"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="刷新...">
        </ion-refresher-content>
        <ion-refresher-content >
        </ion-refresher-content>
    </ion-refresher>
    <h2>{{contentTitle}}</h2>
    <div class="detail-content" [innerHTML]="content"></div>

    <section *ngIf="fileList.length>0" class="detail-style" style="margin-top: 30px;">
        <fieldset>
            <legend><b>附件：</b></legend>
            <div *ngFor="let item of fileList;let i = index;" (click)="viewFile(item)">
                <a>{{i+1}}、{{item.filename}}</a>
            </div>
        </fieldset>
    </section>
</ion-content>
<ion-footer>
    <ion-toolbar>
<!--        [rows]="flag?4:1" (ionFocus)="flag=true" (ionBlur)="flag=false"-->
        <div class="flex-between" style="margin-bottom: 5px;">
            <div>
                <ion-button color="light" (click)="nav('read-list',{id:id,url:getReadUrl})" size="small">
                    <span>已读人数：</span>
                    <span text-bold>{{readNumber||0}}人</span>&nbsp;
                    <span>未读人数：</span>
                    <span text-bold>{{noReadNumber||0}}人</span>
                </ion-button>

            </div>
            <ion-button *ngIf="comment" color="light" (click)="nav('work-dynamics/comment-list/'+id,{id:id})" size="small">评论 ({{comment_num||0}})</ion-button>
<!--            <ion-textarea style="font-size: 1.5rem;" [(ngModel)]="infoTitle" clearOnEdit="true"></ion-textarea>-->
<!--            <ion-icon name="md-send" color="primary" (click)="submit()" style="padding: 10px;font-size: 30px"></ion-icon>-->
        </div>
    </ion-toolbar>
</ion-footer>

