<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home-tab">
      <ion-icon name="home"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="office">
      <ion-icon name="folder"></ion-icon>
      <ion-label>办公</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="project">
      <ion-icon name="business"></ion-icon>
      <ion-label>项目</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="zi-chan">
      <ion-icon name="business"></ion-icon>
      <ion-label>资产</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="isShow" tab="rong-zi">
      <ion-icon name="person"></ion-icon>
      <ion-label>融资</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
