<app-divider></app-divider>
<section>
  <div class="content-title">进度计划</div>
  <ion-list>
    <ion-item *ngFor="let item of DataList" (click)="getItem(item)">
      <ion-row style="width:100%;">
        <ion-col class="primary text-md" size="3">
          <span class="avatar">{{item.handle_status_desc}}</span>
        </ion-col>
        <ion-col class="primary text-md" size="4">{{item.title}}</ion-col>
        <ion-col class="primary text-md ion-text-end" size="5">{{item.thestage}}</ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngIf="DataList.length==0">
      <ion-row style="width:100%;">
        <ion-col class="primary text-md" size="3">
            无数据！
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>
</section>
