<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->


<!--<ion-header>-->
<!--  <ion-toolbar color="primary">-->
<!--&lt;!&ndash;    <app-back></app-back>&ndash;&gt;-->
<!--    <ion-title>-->
<!--      Tab 1-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
