<ion-header>
  <ion-toolbar color="primary">
    <app-back slot="start"></app-back>
    <ion-title>
      维修审批
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="刷新...">
    </ion-refresher-content>
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>

  <section>
      <div>
          <ion-list>
              <ion-item *ngFor="let item of DetailList">
                  <ion-row style="width:100%;">
                      <ion-col class="primary text-md" size="4">{{item.label}}</ion-col>
                      <ion-col class="primary text-md" size="8">
                          <div [innerHTML]="itemDetail[item.field]"></div>
                      </ion-col>
                  </ion-row>
              </ion-item>
          </ion-list>
      </div>
    <ion-item>
      <ion-textarea placeholder="请输入意见"  [(ngModel)]="payload.comments"></ion-textarea>
    </ion-item>
      <ion-item>
          <ion-row style="width:100%;">
              <ion-col class="primary text-md" size="4">是否同意</ion-col>
              <ion-col class="primary text-md" size="8">
                  <ion-toggle [(ngModel)]="isTongYi"></ion-toggle>
              </ion-col>
          </ion-row>
      </ion-item>
      <app-staff (click)="go('getSt', selectedStaff,false)" title="选择下级处理人" eventName="getSt" [(selectedStaff)]="selectedStaff"></app-staff>
  </section>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="save()" style="flex: 1">
      保  存
    </ion-button>
  </ion-toolbar>
</ion-footer>
