<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            还款预警
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <div class="flex-between search-border">
        <ion-item>
            <ion-datetime type="datetime-local" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" doneText="确定" [(ngModel)]="params.timebegin" (ngModelChange)="timebeginChange()" cancelText="取消"></ion-datetime>
        </ion-item>
        至
        <ion-item>
            <ion-datetime type="datetime-local" displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" doneText="确定" [(ngModel)]="params.timeend" cancelText="取消" (ngModelChange)="timeendChange()"></ion-datetime>
        </ion-item>
    </div>
    <app-divider></app-divider>
    <ion-list class="my-list">
        <ion-item  *ngFor="let item of listData;let index = index" (click)="nav('finance-reimbursement/detail',{id:item.id})">
            <section class="text-md">
                <div class="my-list-title">
                    <h2>{{ index+1 }}、{{item.title}}</h2>
                </div>
                <div class="my-list-sub">
                        <div class="flex-between">
                            <span> 贷款总金额(万元)：{{item.dkzy}} </span>
                            <span> 利率(%)：{{item.lilv}} </span>
                        </div>
                    <div class="flex-between ion-color-danger" style="color: #f8a5a5;">
                            <span> 预估利息：{{item.ykls}} </span>
                            <span> 计划还款日期：{{item.jhhkrq}} </span>
                    </div>
                    <div class="ion-color-danger">
                        <span>是否提前结清：{{item.isok}} </span>
                    </div>
                </div>
            </section>
        </ion-item>
    </ion-list>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="加载更多......">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>





