.text-md{
  font-size: 1.3rem;
}
.content-title{
  text-align: left;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
}
.avatar{
  padding: 0.1rem 0.6rem;
  border-radius: 10px;
  background: gold;
  color: #ffffff;

}

.card{
  background: #fff;
  &-item{
    padding: 0.4rem 1rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    p{
      font-size: 1.5rem;
      line-height: 2.7rem;
      margin: 0;
    }
    h2{
      font-size: 2.1rem;
    }
    h3{
      margin: 0;
      font-size: 1.8rem;
    }
    &-text{
      position: relative;
      span{
        color:#898989;
        position: absolute;
        left:12rem;
      }
    }
  }
  &-item:not(:last-child){
    border-bottom:1px solid #eee;
  }
  .bg-1{
    color:#fff;
    background:#a6b1cf;
  }
  .bg-2{
    color:#fff;
    background:#8ebfd0;
  }
}
.search-border{
  //border: 1px solid #eee;
  //border-radius:3px;
}
