<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            还款预警
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
    <ion-list class="my-list">
        <ion-item  *ngFor="let item of dataList;let index = index" (click)="nav('finance-reimbursement/detail',{id:item.id})">
            <section class="text-md">
                <div class="my-list-title">
                    <h2>{{ index+1 }}、{{item.title}}</h2>
                </div>
                <div class="my-list-sub">
                        <ion-row>
                            <ion-col col-8> 贷款总金额(万元)：{{item.dkzy}} </ion-col>
                            <ion-col col-4> 利率(%)：{{item.lilv}} </ion-col>
                        </ion-row>
<!--                        <ion-row>-->
<!--                            <ion-col col-12> 还款公司：{{item.hkcompany}} </ion-col>-->
<!--                        </ion-row>-->
                    <div class="danger">
                        <ion-row>
                            <ion-col col-12> 计划还款日期：{{item.jhhkrq}} </ion-col>
                        </ion-row>
                    </div>
                    <div class="danger">
                        <ion-row>
                            <ion-col col-12> 是否提前结清：{{item.isok}} </ion-col>
                        </ion-row>
                    </div>
                </div>
            </section>
        </ion-item>
    </ion-list>
</ion-content>





