<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
      资产管理
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="item-wrapper">
    <div class="item" *ngFor="let item of itemList" (click)="nav(item.name,{url:item.url||'',title:item.title,addUrl:item.addUrl,isCanCommit:item.isCanCommit})">
      <div class="cicle" [ngStyle] = "{background:item.color}">
        <ion-icon [name]="item.icon"></ion-icon>
      </div>
      <div class="ion-text-center">{{item.title}}</div>
    </div>
  </div>
</ion-content>
