// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
// test
html{
  font-size:10px;
}
@import "styles/animate";
@import "styles/placeholder";
@import "styles/reset";
@import "styles/scrollbar";
@import "styles/structure";
@import "styles/common";
@import "styles/media";
@import "styles/scroll";
@import "styles/rectangle";
@import "styles/card";
@import "styles/color";
@import "styles/margin";
@import "styles/flex";
@import "styles/segment";
@import "styles/staff";
@import "styles/detail.page";
@import "styles/header";
@import "styles/swiper";
@import "styles/common-view";

@import "styles/animate";
@import 'styles/quill.core.scss';
@import 'styles/quill.snow.scss';
@import 'styles/quill.bubble.scss';
.swiper-slide{
  display: block;
}
//隐藏富文本编辑头部
.ql-toolbar{
  display: none;
}

.ql-container.ql-snow {
 border: 0 solid #ffffff;
}
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.pdfViewer .page{
  border: none !important;
}


.icon-badge{
  position: absolute;
  top:0px; right:0px;
  z-index: 100
}
.font-14{
  font-size: 1.4rem;
}
.tableNoWrap table td {
  white-space:normal !important;
}
