section{
  height: 100%;
}
table{
  border-collapse:collapse ;
  tr{
    td,th{
      border: 1px solid #6e6e6e;
      padding: 5px;
    }
  }
}
.swiper-container{
  height: 100%;
  .swiper-slide{
    height: 100%;
  }
}
