<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            档案列表
        </ion-title>
    </ion-toolbar>
</ion-header>





<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                 pullingIcon="arrow-dropdown"
                 pullingText="下拉刷新"
                 refreshingSpinner="circles"
                 refreshingText="刷新...">
        </ion-refresher-content>
    </ion-refresher>
    <section>
        <ion-list class="my-list">
            <ion-item *ngIf="itemList.length<1">
                <p class="primary"> 无数据！ </p>
            </ion-item>
            <ion-item *ngFor="let item of itemList" 
                (click)="dodo(item)"
                >
                <section>

                    <div class="my-list-title">
                        <h2>
                        <ion-icon  style="color:#ffd659;font-size:2.2rem;" *ngIf="!item.isDir" name="document"></ion-icon>
                        <ion-icon  style="color:#ffd659;font-size:2.2rem;" *ngIf="item.isDir" name="folder"></ion-icon>
                        <!-- <img *ngIf="item.isDir" src="assets/icon/Folder.png" alt="#"> -->
                        <span style="margin-bottom:5px;color:#606266;"> {{item.name}} </span>
                        </h2>
                    </div>
                    <div class="my-list-sub">
                        <div class="my-list-sub-top flex-between">
                            <span>
                                <span>{{item.departname}}</span>
                                <span>{{item.created}}</span>
                            </span>
                            <span class="my-list-sub-top-last">{{item.creatorName}}</span>
                        </div>
                    </div>
                </section>
            </ion-item>
        </ion-list>
    </section>
<!--    <ion-fab vertical="bottom" horizontal="end" slot="fixed">-->
<!--        <ion-fab-button (click)="nav('finance-detail/add',{title:'资产添加',url:''})">-->
<!--            <ion-icon name="add"></ion-icon>-->
<!--        </ion-fab-button>-->
<!--    </ion-fab>-->
</ion-content>
