<ion-header>
    <ion-toolbar color="primary">
        <app-back slot="start"></app-back>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="刷新...">
        </ion-refresher-content>
        <ion-refresher-content >
        </ion-refresher-content>
    </ion-refresher>

    <section>
        <div class="switch-title flex-between">

            <div (click)="tabIndex=-1" style="width: 40px">
                <ion-icon name="menu"></ion-icon>
            </div>
            <div (click)="openZhengWen()">
                <ion-icon name="journal"></ion-icon>
                正文
            </div>

            <div (click)="tabIndex=1">
                <ion-icon name="link"></ion-icon>
                附件</div>
            <div (click)="tabIndex=2">
                <ion-icon name="git-network"></ion-icon>
                流程</div>
            <div (click)="tabIndex=3">
                <ion-icon name="business"></ion-icon>
                关联项目</div>
        </div>
        <app-divider></app-divider>
    </section>

    <div *ngIf="tabIndex==-1" class="detail-style" [innerHTML]="content"></div>
    <section *ngIf="tabIndex==1" class="detail-style">
        <fieldset>
            <legend><b>附件：</b></legend>
            <div *ngFor="let item of fileList;let i = index;" (click)="viewFile(item)">
                <a>{{i+1}}、{{item.filename}}{{item.fileext}}</a>
            </div>

            <div *ngIf="fileList.length==0">
                <a >无附件</a>
            </div>
        </fieldset>
    </section>
    <section *ngIf="tabIndex===2">
        <div style="overflow: auto">
            <div [innerHTML]="signList"></div>
        </div>
    </section>


    <section *ngIf="tabIndex===3">
        <fieldset>
            <legend><b>关联项目</b></legend>
            <div *ngFor="let item of linkProjectList;let i = index;" (click)="viewProject(item)">
                <a>{{i+1}}、{{item.name}}</a>
            </div>

            <div *ngIf="linkProjectList.length==0">
                <a >无关联项目</a>
            </div>
        </fieldset>

        <fieldset>
            <legend><b>关联收文</b></legend>
            <div *ngFor="let item of linkReceiptList;let i = index;" (click)="viewReceipt(item)">
                <a>{{i+1}}、{{item.name}}</a>
            </div>

            <div *ngIf="linkReceiptList.length==0">
                <a >无关联收文</a>
            </div>
        </fieldset>

        <fieldset>
            <legend><b>关联发文</b></legend>
            <div *ngFor="let item of linkDispathList;let i = index;" (click)="viewFaWen(item)">
                <a>{{i+1}}、{{item.name}}</a>
            </div>

            <div *ngIf="linkDispathList.length==0">
                <a >无关联发文</a>
            </div>
        </fieldset>
    </section>

</ion-content>

<ion-footer [hidden]="isgned">
    <ion-toolbar>
        <div class="card-header" (click)="isCommentOpen=!isCommentOpen">意见</div>
        <div [hidden]="!isCommentOpen">
            <div class="comment-content">
                <div *ngFor="let item of signLogList">
                    <div style=" display: flex; padding: 10px; border-bottom: 1px solid  gainsboro;">
                        <app-circle-text [name]="item.Creator"></app-circle-text>
                        <div style="margin-left: 10px;width: 80%;">
                            <span style="font-size: 14px;">{{item.Creator}}</span>

                            <div class="flex-between primary" style="padding: 3px 0">
                                <span>{{item.comments}}</span>
                                <span>{{item.actions}}</span>
                            </div>
                            <div style="padding: 3px 0px">
                                <a *ngFor="let file of item.File" (click)="viewFile(file)">
                                    <img src="assets/icon/fujian.png"  style="width: 13px;height: 13px;" alt=""> {{file.filename}}
                                </a>
                            </div>

                            <div style="padding: 3px 0px">
                                <a   style="display: block;"  *ngFor="let file of item.relFile" (click)="doDaiBan(file)">
                                    <img src="assets/icon/link.png"  style="width: 13px;height: 13px;" alt="">
                                    {{file.title}}
                                </a>
                            </div>
                            <div class="primary" style="margin-top: 5px;">{{item.time}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 5px;">
            <div>
                <div class="card-header">办理</div>
                <div *ngIf="isMore" style="background: #f7f7f7; padding:5px; display: flex;">
                    <div class="more-item-wrapper" (click)="document_stop()">
                        <div class="more-item">
                            <img src="assets/icon/zhongZhi.png" alt="">
                        </div>
                        <span class="text">终止</span>
                    </div>

                    <div class="more-item-wrapper" (click)="document_back()">
                        <div class="more-item">
                            <img src="assets/icon/back.png" alt="">
                        </div>
                        <span class="text">退回</span>
                    </div>

                    <div class="more-item-wrapper" (click)="document_chaunYue()">
                        <div class="more-item">
                            <img src="assets/icon/chuanyue.png" alt="">
                        </div>
                        <span class="text">传阅</span>
                    </div>

                    <div class="more-item-wrapper" (click)="document_jiaqian(true)">
                        <div class="more-item">
                            <img src="assets/icon/jiaqian.png" alt="">
                        </div>
                        <span class="text">加签</span>
                    </div>

                    <div class="more-item-wrapper" (click)="document_jianqian(true)">
                        <div class="more-item">
                            <img src="assets/icon/jianqian.png" alt="">
                        </div>
                        <span class="text">减签</span>
                    </div>

                    <div class="more-item-wrapper" (click)="document_banJie()">
                        <div class="more-item">
                            <img src="assets/icon/banjie.png" alt="">
                        </div>
                        <span class="text">办结</span>
                    </div>
                </div>



                <div [hidden]="!isEdit">
                    <div [hidden]="userId!=519" style="overflow-x: auto">
                        <div style="min-height: 30px;">
                            <img style="width: 30px;height:30px;" *ngFor="let item of  BaseImgList" [src]="item" alt="">
                        </div>
                        <div style="width: 200px;height:200px;
                        margin: 0 auto;
                        background: url(assets/images/mizige.png);
                        background-size:100% 100%;
">
                            <signature-pad [options]="signaturePadOptions"    (onBeginEvent)="drawStart()"  (onEndEvent)="drawComplete()"></signature-pad>
                        </div>
                    </div>
                    <div [hidden]="userId==519">
                        <textarea placeholder="请输入处理意见" style="font-size: 1.4rem;" [(ngModel)]="infoTitle"></textarea>
                        <div class="flex-between" style="padding-bottom: 10px;">
                            <div></div>
                            <div style="color: #96999e;padding-right: 5px;" class="font-14" (click)="presentAlertPrompt()">常用语</div>
                        </div>
                    </div>
                    <!--                    <div class="flex-between font-14" *ngIf="SignIndex<2"  style="padding: 10px 0;border-bottom: 1px solid #eee;" (click)="selectFenGuanLingDao()">-->
                    <!--                        <div>-->
                    <!--                            选择分管领导-->
                    <!--                        </div>-->

                    <!--                        <div style="color: #96999e;padding-right: 5px;">-->
                    <!--                            {{fenGuanLingDaoNames}}-->
                    <!--                            <ion-icon name="arrow-forward"></ion-icon>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <app-staff (click)="go('getStaffs')" [type]="false" *ngIf="doselect" title="选择办理人" eventName="getStaffs" [(selectedStaff)]="selectedStaff"></app-staff>
                </div>
                <div class="flex-between">
<span>
                    <ion-icon (click)="isMore=!isMore" name="more" size="20" style="font-size: 20px;color: #3880ff;"></ion-icon>
                    &nbsp;
                    &nbsp;
                    <ion-icon (click)="isEdit=!isEdit" name="create" size="20" style="font-size: 20px;color:#3880ff;"></ion-icon>
</span>
                    <div>
                        <ion-button size="small"  [hidden]="userId!=519"  fill="outline" (click)="deleteAImg()">清除</ion-button>
                        <ion-button size="small" fill="outline" (click)="submit()">提交</ion-button>
                    </div>
                </div>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>

