<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
    <div class="segment-wrapper">
      <ion-segment (ngModelChange)="segmentChange($event)" [(ngModel)]="index">
        <ion-segment-button *ngFor="let item of menuList;let i=index" [value]="i">
          {{item.title}}
        </ion-segment-button>
      </ion-segment>
    </div>
    </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <section>

      <ion-slides (ionSlideWillChange)="change()">
          <ion-slide>
              <ion-list class="my-list">
                  <ion-item *ngIf="itemList.length<1">
                      <p class="primary"> 无数据！ </p>
                  </ion-item>
                  <ion-item *ngFor="let item of itemList" (click)="nav('leave/detail',{url:'/qingjia/shenpi_detail',id:item.id,title:title,contentTitle:item.title,title:'请假审批详情'})">
                      <section>

                          <div class="my-list-title">
                              <h2  [ngClass]="item.qjstate=='已审批'?'primary':''">
                                  <span *ngIf="item.qjstate!=='已审批'" color="primary">[{{item.qjstate}}]</span>
                                  <span *ngIf="item.qjstate=='已审批'">[已审批]</span>
                                  {{item.title}}</h2>
                          </div>
                          <div class="my-list-sub">
                              <div class="my-list-sub-top flex-between">
                                  <span>{{item.qjr}}</span>
                                  <span class="my-list-sub-top-last">{{item.qjstate}}</span>
                              </div>
                          </div>
                      </section>
                  </ion-item>
              </ion-list>
          </ion-slide>
          <ion-slide>
              <ion-list class="my-list">
                  <ion-item *ngIf="shenPiList.length<1">
                      <p class="primary">
                          无数据！
                      </p>
                  </ion-item>
                  <ion-item *ngFor="let item of shenPiList" (click)="nav('leave/approve',{url:'/qingjia/shenpi_detail',handleUrl: '/qingjia/shenpi_save',id:item.id,title:title,contentTitle:item.title,title:'请假审批'})">
                      <section>
                          <div class="my-list-title">
                              <h2>{{item.title}}</h2>
                          </div>
                          <div class="my-list-sub">
                              <div class="my-list-sub-top flex-between">
                                  <span>请假人:{{item.qjr}}</span>
                                  <span class="my-list-sub-top-last">{{item.qjstate}}</span>
                              </div>
                          </div>
                      </section>
                  </ion-item>
              </ion-list>
          </ion-slide>
          <ion-slide>
              <ion-list class="my-list">
                  <ion-item *ngIf="myShenPiList.length<1">
                      <p class="primary"> 无数据！ </p>
                  </ion-item>
                  <ion-item *ngFor="let item of myShenPiList" (click)="nav('leave/detail',{url:'/qingjia/shenpi_detail',id:item.id,title:title,contentTitle:item.title,title:'请假审批详情'})">
                      <section>

                          <div class="my-list-title">
                              <h2  [ngClass]="item.qjstate=='已审批'?'primary':''">
                                  <span *ngIf="item.qjstate!=='已审批'" color="primary">[{{item.qjstate}}]</span>
                                  <span *ngIf="item.qjstate=='已审批'">[已审批]</span>
                                  {{item.title}}</h2>
                          </div>
                          <div class="my-list-sub">
                              <div class="my-list-sub-top flex-between">
                                  <span>{{item.qjr}}</span>
                                  <span class="my-list-sub-top-last">{{item.qjstate}}</span>
                              </div>
                          </div>
                      </section>
                  </ion-item>
              </ion-list>
          </ion-slide>
      </ion-slides>
  </section>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="nav('leave/add',{title:'请假申请',url:'b'})">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
