.log-list{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &-title{
    background: #f5f0eb;
    height:3.2rem;
    div{
      background: #488aff;
      width: 8rem;
      color:#fff;
      text-align:center;
      line-height: 3.2rem;
      font-size: 1.6rem;
    }
  }
  .my-avatar{
    padding: 0.5rem;
    div {
      width: 100%;
      height: 10px;
      //background: #eee;
    }
    p{
      color:#488aff;
      text-align:center;
      font-size: 1.3rem;
      line-height: 1rem;
    }
  }
  .log-content{
    width: 100%;
    p{
      line-height: 2rem;
      color:#555;
      .icon{
        color:#000;
        font-size: 1.7rem;
        margin-right: 1rem;
      }
    }
    ion-textarea{
      color: #606266;
      font-size: 1.4rem;
    }
    div{
      margin-left:2.6rem;
      width: calc(100% - 3.6rem);
      height: 1px;
      background:#dedede;
    }
  }
}
