<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-icon *ngIf="flag&&addtime==0" class="animated flipInX" (click)="save()" style="font-size: 38px" slot="end" name="checkmark"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="刷新...">
    </ion-refresher-content>
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>
  <section class="log-list">
    <div class="log-list-title primary">
      <ion-button shape="" (click)="viewLog(-1)" size="small">上周日志</ion-button>
      <ion-button shape="" (click)="viewLog(1)" *ngIf="addtime<0" size="small">下周日志</ion-button>
    </div>
    <ion-list class="my-list">
      <ion-item *ngFor="let item of itemList">
        <div slot="start">
          <div class="my-avatar">
            <p>{{item.week}}</p>
            <div></div>
            <p>({{item.month}}-{{item.d}})</p>
          </div>
        </div>
        <div class="log-content">
          <ion-textarea  [(ngModel)]="item.morning" (ionBlur)="ionBlur(item)" (ionFocus)="ionFocus(item)"></ion-textarea>
        </div>
      </ion-item>
      <ion-item>
        <div slot="start">
          <div class="my-avatar">
            <p>{{week.zweek}}</p>
          </div>
        </div>
        <div class="log-content">
          <ion-textarea auto-grow [(ngModel)]="week.zlogs"></ion-textarea>
        </div>
      </ion-item>
    </ion-list>

  </section>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="selectDepart()">
      <ion-icon name="contacts"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
