<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="bg-style add-style">
  <ion-item>
    <ion-label>开始时间</ion-label>
    <ion-datetime type="datetime-local" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" doneText="确定" [(ngModel)]="params.qjstime" cancelText="取消"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>结束时间</ion-label>
    <ion-datetime type="datetime-local" displayFormat="YYYY-MM-DD HH:mm" pickerFormat="YYYY-MM-DD HH:mm" doneText="确定" [(ngModel)]="params.qjetime" cancelText="取消"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>申请类型</ion-label>
    <ion-select [(ngModel)]="params.qjtype" cancelText="取消" okText="确定">
      <ion-select-option *ngFor="let item of qjtypeList" [value]="item.name">{{item.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>原因</ion-label>
    <ion-textarea placeholder="请输入原因" [(ngModel)]="params.qjyy"></ion-textarea>
  </ion-item>
  <app-staff (click)="go('getSt', selectedStaff,false)" title="选择审批人" eventName="getSt" [(selectedStaff)]="selectedStaff"></app-staff>
</ion-content>





<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" (click)="save()" style="flex: 1">
      保  存
    </ion-button>
  </ion-toolbar>
</ion-footer>
