<ion-header>
  <ion-toolbar color="primary">
    <!--        <app-back></app-back>-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      评论列表
    </ion-title>
    <ion-icon  (click)="addComment(1,{})" mode="md" style="float: right;font-size: 28px;" name="add"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
      <div class="commit" *ngIf="commitList.length>0">
          <ion-card style="margin:20px 0 0 0;">
              <ion-card-header style="padding:5px">
                  <h4 style="margin:5px;font-size:15px">所有评论</h4>
              </ion-card-header>
              <ion-card-content style="padding:5px;">
                  <ion-list>
                      <ion-item *ngFor="let item of commitList">
                          <div (click)="itemClick(item)" style="width:100%;font-size:13px;">
                              <div class="flex-between" style="padding:5px 0;color:#666;">
                                  <div style="color:#4c8dff;" class="flex-between">
                                      <ion-icon style="font-size:13px;" name="contact"></ion-icon>
                                      <span>&nbsp;&nbsp;{{item.username}}</span>
                                  </div>
                                  <div>{{item.time}}</div>
                              </div>
                              <div style="padding:5px;color:#666;">
                                  <div class="flex-between">
                                      <div style="max-width: 90%">
                                          {{item.conent}}
                                      </div>
                                      <a style="color: #4c8dff" (click)="addComment(2,item)">回复</a>
                                  </div>
                              </div>
                          <div class="my-list-sub">
                              <div *ngFor="let file of item.files;let i=index;" class="my-list-sub">
                                  <a [href]="file.url">{{i+1}}、{{file.name}}</a>
                                  <!--                            <span class="my-list-sub-top-last">{{item.jiage}}</span>-->
                              </div>
                          </div>
                          </div>
                      </ion-item>
                  </ion-list>
              </ion-card-content>
          </ion-card>
      </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <!--        [rows]="flag?4:1" (ionFocus)="flag=true" (ionBlur)="flag=false"-->
    <div class="flex-between" style="margin-bottom: 5px;">
<!--      <div>&nbsp;</div>-->
<!--      <ion-button color="light" (click)="nav('notice/comment-list/'+id)" size="small">评论(1520)</ion-button>-->
        <textarea id="textarea" [placeholder]="placeholder" style="font-size: 1.4rem;" [(ngModel)]="infoTitle" clearOnEdit="true"></textarea>
        <div style="height: inherit;display: flex;align-items: baseline">
            <ion-icon name="md-send" color="primary" (click)="submit()" style="padding: 10px;font-size: 30px"></ion-icon>
        </div>
    </div>
  </ion-toolbar>
</ion-footer>

