<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-item>
    <ion-textarea placeholder="请输入意见" [(ngModel)]="payload.opinion"></ion-textarea>
  </ion-item>
<!--  eventName 表示监听 事件名称-->
  <app-staff (click)="go('getStaffs')" title="添加名单" eventName="getStaffs" [(selectedStaff)]="selectedStaff"></app-staff>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <ion-button expand="full" (click)="save()">提交</ion-button>
    </ion-toolbar>
</ion-footer>

