<ion-header>
  <ion-toolbar color="secondary">
    <div class="segment-wrapper">
      <ion-segment (ngModelChange)="segmentChange($event)" [(ngModel)]="index">
        <ion-segment-button *ngFor="let item of menuList;let i=index" [value]="i">
          {{item.title}}
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
</ion-header>





<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <section>

    <ion-slides (ionSlideWillChange)="change()">
      <ion-slide>
        <ion-list class="my-list">
          <ion-item *ngIf="itemList.length<=0" >
            <p class="primary">无数据！</p>
          </ion-item>
          <ion-item *ngFor="let item of itemList" (click)="nav('DetailPage',{title:'收文系统',url:payload.url, document_type:0,id:item.id,handle_status:item.handle_status})">
            <section>
              <div class="my-list-title">
                <h2  [ngClass]="item.read=='0'?'':'primary'">
                  <span *ngIf="item.read=='0'" color="primary">[未办]</span>
                  <span *ngIf="item.read=='1'">[已办]</span>
                  {{item.title}}</h2>
              </div>
              <div class="my-list-sub">
                <div class="my-list-sub-top flex-between">
                  <span>办理人：{{item.handler}}</span>
                  <span>发布日期:{{item.date}}</span>
                </div>
              </div>
            </section>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide>
        <ion-list class="my-list">
          <ion-item *ngIf="itemList.length<=0" >
            <p class="primary">无数据！</p>
          </ion-item>
          <ion-item *ngFor="let item of shenPiList" (click)="nav('DetailPage',{title:'收文系统',isShenPi:true,url:payload.url, document_type:0,id:item.id,handle_status:item.handle_status})">
            <section>
              <div class="my-list-title">
                <h2  [ngClass]="item.read=='0'?'':'primary'">
                  <span *ngIf="item.read=='0'" color="primary">[未办]</span>
                  <span *ngIf="item.read=='1'">[已办]</span>
                  {{item.title}}</h2>
              </div>

              <div class="my-list-sub">
                <div class="my-list-sub-top flex-between">
                  <span>办理人：{{item.handler}}</span>
                  <span>发布日期:{{item.date}}</span>
                </div>
              </div>
            </section>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </section>
</ion-content>
