<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
<!--        收文系统-->
<!--      {{item.title}}-->
      <div class="segment-wrapper">
        <ion-segment (ngModelChange)="segmentChange($event)" [(ngModel)]="index">
          <ion-segment-button *ngFor="let item of menuList;let i=index" [value]="i">
              {{item.title}}
          </ion-segment-button>
        </ion-segment>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="刷新...">
    </ion-refresher-content>
  </ion-refresher>
  <section>
    <ion-searchbar placeholder="请输入..." (ionChange)="search($event)"></ion-searchbar>
    <ion-slides (ionSlideWillChange)="change()">
      <ion-slide>
        <!--拟办列表-->
        <ion-list class="my-list">
          <ion-item *ngIf="itemList.length<=0" >
            <p class="primary">无数据！</p>
          </ion-item>
          <ion-item *ngFor="let item of itemList" (click)="nav('receive-document/receive-detail/'+item.id,{title:'收文系统',url:'/receipt/anditdetail',handleUrl:'/documents/handle_document', document_type:0,id:item.id,handle_status:item.handle_status})">
            <section>
              <div class="my-list-title">
                <h2  [ngClass]="item.read=='0'?'':'primary'">
                  <span *ngIf="item.read=='0'" color="primary">[未办]</span>
                  <span *ngIf="item.read=='1'">[已办]</span>
                  {{item.title}}</h2>
              </div>
              <div class="my-list-sub">
                <div class="my-list-sub-top flex-between">
                  <span>来文编号：{{item.docCode}}</span>
                  <span>发布日期:{{item.receiptDate}}</span>
                </div>
              </div>
            </section>
          </ion-item>
        </ion-list>
      </ion-slide>
      <ion-slide>

        <!--待办列表-->
        <ion-list class="my-list">
          <ion-item *ngIf="yiBanList.length<=0" >
            <p class="primary">无数据！</p>
          </ion-item>
          <ion-item *ngFor="let item of yiBanList" (click)="nav('receive-document/receive-handle/'+item.id,{title:'收文系统',url:'/receipt/anditdetail',handleUrl:'/documents/handle_document', document_type:0,id:item.id,handle_status:item.handle_status})">
            <section>
              <div class="my-list-title">
                <h2  [ngClass]="item.read=='0'?'':'primary'">
                  <span *ngIf="item.read=='0'" color="primary">[未办]</span>
                  <span *ngIf="item.read=='1'">[已办]</span>
                  {{item.title}}</h2>
              </div>
              <div class="my-list-sub">
                <div class="my-list-sub-top flex-between">
                  <span>办理人：{{item.handler}}</span>
                  <span>发布日期:{{item.date}}</span>
                </div>
              </div>
            </section>
          </ion-item>
        </ion-list>
      </ion-slide>

      <ion-slide>

        <!--已办列表-->
        <ion-list class="my-list">
          <ion-item *ngIf="guiDangList.length<=0" >
            <p class="primary">无数据！</p>
          </ion-item>
          <ion-item *ngFor="let item of guiDangList" (click)="nav('receive-document/receive-detail/'+item.id,{title:'收文系统',url:'/receipt/anditdetail',handleUrl:'/documents/handle_document', document_type:0,id:item.id,handle_status:item.handle_status})">
            <section>
              <div class="my-list-title">
                <h2  [ngClass]="item.read=='0'?'':'primary'">
                  <span *ngIf="item.read=='0'" color="primary">[未办]</span>
                  <span *ngIf="item.read=='1'">[已办]</span>
                  {{item.title}}</h2>
              </div>
              <div class="my-list-sub">
                <div class="my-list-sub-top flex-between">
                  <span>办理人：{{item.auditor}}</span>
                  <span>发布日期:{{item.receiptDate}}</span>
                </div>
              </div>
            </section>
          </ion-item>
        </ion-list>
      </ion-slide>
    </ion-slides>
  </section>
</ion-content>
