<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Tab 2-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            办公
        </ion-title>
        <!--        <ion-icon *ngIf="flag" class="animated flipInX" (click)="save()" style="font-size: 38px" slot="end" name="checkmark"></ion-icon>-->
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">Tab 2</ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
<!--  <app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
