<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>标题：</ion-label>
        <ion-input placeholder="请输入标题" [(ngModel)]="params.noticetitle"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>内容：</ion-label>
        <ion-textarea placeholder="请输入内容" rows="10" [(ngModel)]="params.noticecontent"></ion-textarea>
    </ion-item>
    <app-file-viewer (getFileArray)="getFileArray($event)"></app-file-viewer>
</ion-content>
<ion-footer>
    <ion-toolbar>
            <ion-button expand="full" (click)="submit()">提交</ion-button>
    </ion-toolbar>
</ion-footer>
