<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label>标题：</ion-label>
        <ion-input placeholder="请输入标题" [(ngModel)]="params.noticetitle"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>内容：</ion-label>
        <ion-textarea placeholder="请输入内容" rows="20" [(ngModel)]="params.noticecontent"></ion-textarea>
    </ion-item>
    <section class="img-wrapper">
        <div class="header-image" *ngFor="let item of imgArr" tappable [ngStyle]="{'background-image': 'url('+item+')'}">
        </div>
        <ion-button color="light" (click)="presentActionSheet()">选择附件</ion-button>
        <div>{{fileUrl}}</div>
    </section>
</ion-content>
<ion-footer>
    <ion-toolbar>
            <ion-button expand="full" (click)="submit()">提交</ion-button>
    </ion-toolbar>
</ion-footer>
