<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      系统首页
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="weather flex-between">
    <div>贾汪 多云转晴 35°</div>
    <div class="">{{getThisDate()}} {{getThisWeek()}}</div>
  </div>
  <app-divider></app-divider>
  <div class="item-wrapper">
    <div class="item" *ngFor="let item of itemList" (click)="nav(item.name,{url:item.url||'',title:item.title,addUrl:item.addUrl,isCanCommit:item.isCanCommit})">
      <div class="cicle" [ngStyle] = "{background:item.color}">

        <ion-badge *ngIf="item.badge" color="danger" style="position: absolute; margin-left: 2rem;margin-top:-0.25rem">
          1
        </ion-badge>
        <ion-icon [name]="item.icon"></ion-icon>
      </div>
      <div class="ion-text-center">{{item.title}}</div>
    </div>
  </div>
<!--  <app-divider></app-divider>-->
<!--  <section class="tongJi-wrapper">-->
<!--    <section class="rec" style="background: #4088d0;"></section>-->
<!--    <section>-->
<!--      <div>-->
<!--        <span>总项目数:</span>-->
<!--        <span>33个</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <span>总投资数:</span>-->
<!--        <span>1554555555万</span>-->
<!--      </div>-->
<!--    </section>-->
<!--  </section>-->
<!--  <app-divider></app-divider>-->
<!--  <section class="tongJi-wrapper">-->
<!--    <section class="rec">-->

<!--    </section>-->
<!--    <section>-->
<!--      <div>-->
<!--        <span>总合同数:</span>-->
<!--        <span>224个</span>-->
<!--      </div>-->
<!--      <div>-->
<!--        <span>总合同额：</span>-->
<!--        <span>55555万</span>-->
<!--      </div>-->
<!--    </section>-->
<!--  </section>-->
  <app-divider></app-divider>

   <app-cultural></app-cultural>
</ion-content>
