<ion-header>
  <ion-toolbar color="secondary">
    <app-back slot="start"></app-back>
    <ion-title>
      {{title}}
    </ion-title>
    <div class="title-end"  *ngIf="detail.finish==='0'&&!isShenPi" (click)="nav('document-handle',{title:'收发文办理',id:id,handleUrl:handleUrl,document_type:payload.document_type})" slot="end">办理</div>
    <div  *ngIf="isShenPi&&detail.control==='0'" slot="end" (click)="nav('document-approve',{ title:'收文审批',id:id })">
      审批
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
            pullingIcon="arrow-dropdown"
            pullingText="下拉刷新"
            refreshingSpinner="circles"
            refreshingText="刷新...">
    </ion-refresher-content>
    <ion-refresher-content >
    </ion-refresher-content>
  </ion-refresher>

  <section>
    <div class="detail-style" [innerHTML]="content"></div>
  </section>
</ion-content>
