<ion-header>
    <ion-toolbar color="primary">
        <!--        <app-back></app-back>-->
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{title}}
        </ion-title>
        <ion-icon  (click)="edit($event)" mode="md" style="float: right;font-size: 28px;" name="create"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="下拉刷新"
                refreshingSpinner="circles"
                refreshingText="刷新...">
        </ion-refresher-content>
        <ion-refresher-content >
        </ion-refresher-content>
    </ion-refresher>
    <h2>{{contentTitle}}</h2>
    <div class="detail-content" [innerHTML]="content"></div>
</ion-content>
<ion-footer>
    <ion-toolbar>
<!--        [rows]="flag?4:1" (ionFocus)="flag=true" (ionBlur)="flag=false"-->
        <div class="flex-between" style="margin-bottom: 5px;">
            <div>&nbsp;</div>
            <ion-button color="light" (click)="nav('notice/comment-list/'+id,{id:id})" size="small">评论 ({{comment_num||0}})</ion-button>
<!--            <ion-textarea style="font-size: 1.5rem;" [(ngModel)]="infoTitle" clearOnEdit="true"></ion-textarea>-->
<!--            <ion-icon name="md-send" color="primary" (click)="submit()" style="padding: 10px;font-size: 30px"></ion-icon>-->
        </div>
    </ion-toolbar>
</ion-footer>

