

<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            {{title}}
        </ion-title>
        <div slot="end" (click)="openByApp()">
            <ion-icon name="redo" style="font-size: 30px"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <simple-pdf-viewer #pdfViewer [src]="url"></simple-pdf-viewer>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div style="text-align: end">
        <span class="mini-button" size="small" fill="outline" (click)="pdfViewer.zoomIn()">放大</span>
            <span  class="mini-button" size="small" fill="outline" (click)="pdfViewer.zoomOut()">缩小</span>
            <span  class="mini-button" #fullPageBtn size="small" fill="outline" (click)="pdfViewer.zoomFullPage()">全屏</span>
            <span  class="mini-button" size="small" fill="outline" (click)="pdfViewer.turnLeft()">旋转</span>
            <span  class="mini-button" size="small" fill="outline" (click)="pdfViewer.prevPage()">上一页</span>
            <span  class="mini-button" size="small" fill="outline" (click)="nextPage()">下一页</span>
        </div>
    </ion-toolbar>
</ion-footer>

