

<ion-header>
    <ion-toolbar color="primary">
        <app-back></app-back>
        <ion-title>
            文件预览
        </ion-title>
        <div slot="end" (click)="openByApp()">
            <ion-icon name="redo" style="font-size: 30px"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <simple-pdf-viewer #pdfViewer [src]="url"></simple-pdf-viewer>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div style="text-align: end">
        <ion-button size="small" fill="outline" (click)="pdfViewer.zoomIn()">放大</ion-button>
            <ion-button size="small" fill="outline" (click)="pdfViewer.zoomOut()">缩小</ion-button>
            <ion-button size="small" fill="outline" (click)="pdfViewer.zoomFullPage()">全屏</ion-button>
            <ion-button size="small" fill="outline" (click)="pdfViewer.turnLeft()">旋转</ion-button>
            <ion-button size="small" fill="outline" (click)="pdfViewer.prevPage()">下一页</ion-button>
            <ion-button size="small" fill="outline" (click)="nextPage()">下一页</ion-button>
        </div>
    </ion-toolbar>
</ion-footer>

