<ion-header>
  <ion-toolbar color="primary">
    <ion-icon (click)="goBack()" style="font-size: 30px" name="arrow-back"></ion-icon>
    <ion-title>
       选择减签人员
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-style">

  <ion-item *ngIf="hasSelectedAllButton">
    <ion-checkbox color="primary" (ngModelChange)="selectAll($event)" [(ngModel)]="isSelectedAll"></ion-checkbox>
    <ion-label>全选</ion-label>
  </ion-item>

  <ion-list class="list-style">
    <!--选择人-->
    <ion-item *ngFor="let item of staffArray">
      <ion-checkbox color="primary" (ngModelChange)="staffItemClick($event,item)" [(ngModel)]="item.isSelected"></ion-checkbox>
      <app-circle-text [name]="item.name"></app-circle-text>
      <ion-label class="main-title">
        <span>{{item.name}}</span>
        <p>{{item.position}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-staff-wrapper">
      <app-circle-text *ngFor="let item of selectedStaff" [name]="item.name"></app-circle-text>
    </div>
    <ion-button slot="end" size="small" (click)="save()">确定</ion-button>
  </ion-toolbar>
</ion-footer>
