<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
      融资管理
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div class="item-wrapper">
    <ng-container *ngFor="let item of itemList">
      <div *ngIf="item.access" class="item" (click)="nav(item.name,{url:item.url||'',title:item.title,addUrl:item.addUrl,isCanCommit:item.isCanCommit})">
        <div class="cicle" [ngStyle] = "{background:item.color}">
          <ion-badge *ngIf="item.badge" class="icon-badge"  color="danger">
            {{item.badge}}
          </ion-badge>
          <ion-icon [name]="item.icon"></ion-icon>
        </div>
        <div class="ion-text-center">{{item.title}}</div>
      </div>
  </ng-container>
  </div>
</ion-content>
