.text-md{
  font-size: 1.3rem;
}
.content-title{
  text-align: left;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 5px;
}
.avatar{
  padding: 0.1rem 0.6rem;
  border-radius: 10px;
  background: gold;
  color: #ffffff;

}
