<ion-header>
  <ion-toolbar color="primary">
    <app-back></app-back>
    <ion-title>
      房产管理
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <div class="margin-top-5">
      <ion-searchbar placeholder="请输入..." (ionChange)="search($event)"></ion-searchbar>
      <ion-list class="my-list">
        <ion-item *ngFor="let item of itemList;let i=index;" (click)="nav('zi-chan/fang-chan-guan-li-detail',item)">
          <section>
            <div class="my-list-title">
              <h2>{{i+1}}、{{item.fangchanname }}</h2>
            </div>
            <div class="my-list-sub">
              <div class="my-list-sub-top flex-between">
                <span> 楼栋 :{{item.loudong  }} </span>
                <span class="my-list-sub-top-last">房源类型:{{item.fytype }}</span>
              </div>
              <div margin-top-5 class="my-list-sub-top flex-between">
                <span> 业主姓名:{{item.ydname  }} </span>
                <span class="my-list-sub-top-last">房产实测面积:{{item.fcshicimianji }}</span>
              </div>
            </div>
          </section>
        </ion-item>
        <ion-item *ngIf="itemList.length==0">
          <section>
            <div class="my-list-title">
              <h2 class="primary">无数据!</h2>
            </div>
            <div class="my-list-sub">
              <div class="my-list-sub-top flex-between">
              </div>
            </div>
          </section>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
